@property --radius{
  syntax: '<length>';
  inherits: true;
  initial-value: 15px;
}
@property --border{
  syntax: '<length>';
  inherits: true;
  initial-value: 8px;
}
.box {
  width:200px;
  height:200px;
  display:inline-grid;
  --t:0;
  -webkit-mask:paint(rounding-shapes);
}
.box:before {
  content:"";
  background:var(--b,red);
}
.border:before {
  --t:1;
  -webkit-mask:paint(rounding-shapes);
}
